/* general */

* {
  margin: 0;
  padding: 0;
}

html{
  font-family: Raleway;
  font-weight: thin;
}

/* container */

.container {
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
  margin-top: 1rem;
}

/* beer-catalogue */

.beer-catalogue {
  display: flex;
}

/* beer-list */

.beer-list {
  list-style: none;
}

.beer-list__item {
  max-width: 50rem;
  padding: 1%;
}

/* beer-modal */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: aliceblue;
  width: 500px;
  max-width: 80%;
  opacity: 0;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header.modal-title {
  font-weight: bold;
}

.modal-title.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 9;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.modal-overlay.active {
  pointer-events: all;
  opacity: 1;
}